body {
  background-color: #222831;
  color: white;
}

h1 {
  background-color: #000000;
  color: #FF00FF;
  width:65%;
}

h3 {
  color: #66BFBF;
}
h2 {
  color: #66BFBF;
}

hr {

  border-style: none;
  border-top-style: dotted;
  border-color: #ffcccc;
  border-width: 7px;
  width: 12%;
}
